body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}


header {
    background-image: linear-gradient(to bottom right,#73653D,#734A26,#594534,#8C634A,#59382C );
    color: white;
    text-align: center;
    padding: 16px; 
}


main {
    padding: 16px; 
}

section {
    background-color: white;
    padding: 16px; 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 16px 0; 

}
.last {
    margin-bottom: 80px;
}

h2 {
    border-bottom: 2px solid #af6b4c;
    padding-bottom: 8px; 
    margin-bottom: 16px; 
}

h3 {
    margin-top: 0;
}


ul, ol {
    padding-left: 20px;
}


form div {
    margin-bottom: 16px; 
}

label {
    display: block;
    margin-bottom: 8px; 
}

input, textarea, select {
    width: 99%;
    padding: 8px; 
    border: 1px solid #ccc;
    border-radius: 4px;
}
#cor {
    width: 50px;
    height: 50px;
}

button {
    background-color: #af6b4c;
    color: white;
    padding: 12px 24px; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #a06945;
}


figure {
    margin: 0;
}

figcaption {
    text-align: center;
    font-style: italic;
}


footer {
    background-image: linear-gradient(to bottom right,#73653D,#734A26,#594534,#8C634A,#59382C );
    color: white;
    text-align: center;
    padding: 5px;
    position: fixed;
    width: 100%;
    bottom: 0;
}


.menu {
    background-image: linear-gradient(to bottom right,#73653D,#734A26,#594534,#8C634A,#59382C );
    padding: 10px;
}

.menu h3 {
    color: white;
    text-align: center;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.menu li {
    width: 33%;
    text-align: center;
    background-image: linear-gradient(to bottom right,#73653D,#734A26,#594534,#8C634A,#59382C );
}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    display: block;
    transition: background-color 1s ease;
}

.menu li a:hover {
    background-color: #553323;
}