body {
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
    background-color: #f0f0f0; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
}


.container {
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    padding: 2rem; 
    text-align: center; 
    max-width: 500px; 
    width: 90%; 
}


.container h1 {
    margin-bottom: 1.5rem; 
    color: #333; 
}


.container a {
    display: block; 
    background-color: darkorange;
    padding: 1rem; 
    margin: 0.5rem 0; 
    color: #0c0c0c; 
    text-decoration: none; 
    font-size: 1.2rem; 
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s; 
}

